.our-values {
    padding: 80px 130px;
    background: linear-gradient(180deg, #FEFC9E -47.89%, #FDBFA3 126.42%);
}
.our-values__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title__our-values {
    height: 40px;
}

.items-wrapper__our-values {
    row-gap: 20px;
}

.item__our-values {
}
.item__img {
}
.item__title {
}
.item__desc {
}
.desc__our-values {
}