.offer__migration {
}
.migration__bg {
    background-image: url('./../img/migration-page/offer-image.png');
    height: 530px;
    background-repeat: no-repeat;
    background-size: cover;
}
.migration__title {
    position: absolute;
    width: 326px;
    height: 40px;
    left: 190px;
    top: 365px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 111px;
    color: #434364;
}

