.how-we-can-help--investment-opportunities {
    padding: 67px 130px 91px 130px;
    background: linear-gradient(180deg, #FEFC9E -47.89%, #FDBFA3 126.42%);
}
.how-we-can-help__wrapper--investment-opportunities {
}

.header__how-we-can-help--investment-opportunities {
    font-family: 'Avenir Next';
    font-style: normal;
    text-transform: none;
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: #434364;

    margin-bottom: 78px;
}

.items-wrapper__how-we-can-help {
}

.item__how-we-can-help {
}
.item__img {
}
.item__title {
}
.title__how-we-can-help {
}
.item__desc {
}
.desc__how-we-can-help {
}
.title--different-height {
}