.investing-in-real-estate {
    padding: 80px 130px;
}

.wrapper__investing-in-real-estate {
    flex-direction: row-reverse;
}

.desc__investing-in-real-estate {
    max-width: 540px;
}

.title__investing-in-real-estate {
}

.text__investing-in-real-estate {
}

.list__investing-in-real-estate {
    color: #6D31D0;
}

.list-item__investing-in-real-estate {
}

.image__investing-in-real-estate {
}