.offer__investment-opportunities {
}
.investment-opportunities__bg {
    background-image: url('./../img/investment-opportunities-page/investment-opportunities-image.png');
    height: 530px;
    background-repeat: no-repeat;
    background-size: cover;
}
.investment-opportunities__title {
    position: absolute;
    width: 280px;
    height: 80px;
    left: 230.5px;
    top: 345px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 111%;
    color: #434364;
}