.starting-a-business {
    padding: 80px 130px;
}

.wrapper__starting-a-business {
    flex-direction: row-reverse;
}

.desc__starting-a-business {
}

.title__starting-a-business {
}

.text__starting-a-business {
    & span {
        color: #6D31D0;
    }
}

.list__starting-a-business {
}

.list-item__starting-a-business {
}

.image__starting-a-business {
}