.child-friendly-community {
    padding: 0px 130px;
}

.wrapper__child-friendly-community {
    flex-direction: row-reverse;
}

.desc__child-friendly-community {
    max-width: 570px;
}

.title__child-friendly-community {
}

.text__child-friendly-community {
}

.list__child-friendly-community {
}

.list-item__child-friendly-community {
}

.image__child-friendly-community {
}