.offer__family-relocation {
}
.family-relocation__bg {
    background-image: url('./../img/family-relocation-page/offer-image.png');
    height: 530px;
    background-repeat: no-repeat;
    background-size: cover;
}
.family-relocation__title {
    position: absolute;
    width: 360px;
    height: 80px;
    left: 129px;
    top: 345px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 111%;
    color: #434364;
}