.how-we-can-help--family-relocation {
    padding: 67px 130px 37px 130px;
    background: linear-gradient(180deg, #FEFC9E -47.89%, #FDBFA3 126.42%);
}
.how-we-can-help__wrapper--family-relocation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 70px;
}
.how-we-make__title {
}
.header__how-we-can-help {
    margin-bottom: 86px;
}
.how-we-make__items-wrapper {
}
.items-wrapper__how-we-can-help {
}
.how-we-make__item {
}
.item__how-we-can-help {
    max-width: 180px;
}
.title__how-we-can-help {
    height: 70px;
}
.item__img {
}
.item__title {
}
.item__desc {
}
.desc__how-we-can-help {
}