.offer__business-relocation {
}
.business-relocation__bg {
    background-image: url('./../img/business-relocation/Business\ Relocation-image.png');
    height: 530px;
    background-repeat: no-repeat;
    background-size: cover;
}
.business-relocation__title {
    position: absolute;
    width: 374px;
    height: 40px;
    left: 130.5px;
    top: 365px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 111%;
    color: #434364;
}