.business-friendly-environment {
    padding: 80px 130px;
}

.wrapper__business-friendly-environment {
    flex-direction: row-reverse;
}

.desc__business-friendly-environment {
    max-width: 555px;
}

.title__business-friendly-environment {
}

.text__business-friendly-environment {
}

.list__business-friendly-environment {
}

.list-item__business-friendly-environment {
}

.image__business-friendly-environment {
}