.how-we-can-help--business-relocation {
    padding: 67px 130px 109px 130px;
    background: linear-gradient(180deg, #FEFC9E -47.89%, #FDBFA3 126.42%);
}

.how-we-can-help__wrapper--business-relocation {
}

.header__how-we-can-help {
}

.items-wrapper__how-we-can-help {
}

.item__how-we-can-help {
}
.item__img {
}
.item__title {
}
.title__how-we-can-help {
}
.title--different-height {
    height: 40px;
}
.item__desc {
}
.desc__how-we-can-help {
}