.positive-economic-outlook {
    padding: 80px 130px;
}

.wrapper__positive-economic-outlook {
    flex-direction: row-reverse;
}

.desc__positive-economic-outlook {
    max-width: 560px;
}

.title__positive-economic-outlook {
}

.text__positive-economic-outlook {
}

.list__positive-economic-outlook {
}

.list-item__positive-economic-outlook {
}

.image__positive-economic-outlook {
}