.header {
    background: linear-gradient(90.49deg, #53269D 0%, #6D31D0 100.2%);
    height: 120px;
    text-align: center;
}
.header__wrapper {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo {
}