@media (min-width: 1500px) {
    .block__title {
        &::after {
            width: calc(100vw/2 - 277px);        }
    }
}


@media (max-width: 1024px) {
    .container {
        max-width: 1000px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .how-we-make__items-wrapper {
        row-gap: 30px;
    }

    .footer__link-right {
        margin-left: 840px;
        position: absolute;
        padding: 25px 15px 25px 0px;
        bottom: 0;
    }
}