.nav {
    text-transform: uppercase;
}
.navigation {
    display: flex;
    align-items: center;
    column-gap: 28px;

    flex-wrap: wrap;
    row-gap: 10px;

    padding-left: 111px;
    padding-right: 71px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
}
.navigation__list {
}
.navigation__link {
    transition: color 0.3s ease-in;
}
.navigation__link:hover {
    color: #FFDB80;
}
.navigation__select {
}
.link__services-menu {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 8px;
        right: -13px;
        width: 10px;
        height: 6px;
        background-image: url('./../img/header_services.svg');
    }
}
.services-menu__wrapper {
    position: absolute;
    top: 90px;
    left: calc(100vw/2 - 270px);
    width: 280px;
    max-height: 120px;
    background: #FFFFFF;
    padding: 19px 0px;
    text-align: center;

    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: #434364;
}
.services-menu__link {
    margin-bottom: 8px;
    transition: color 0.3s ease-in;
}

.services-menu__link:hover {
    color: #FFDB80;
}